@font-face {
    font-family: "Yekan";
    src: url(../fonts/Yekan/Yekan.ttf);
}

.navbar {
    background-color: red;
}

body {
    margin: 0;
    font-family: 'Yekan';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.main-color {
    color: #0372ba;
}


.btn-phone {
    color: #fff;
    outline-color: #0372ba;
}
.btn-phone:hover {
    background-color: #0372ba;
}

.navbar-brand :nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.navbar-brand :nth-child(2) {
    font-size: 16px;
    color: #e1e1e1;
}

.navbar-brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-brand div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 11px;

}

.navbar-nav {
    justify-content: center;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.navbar-expand-lg .navbar-nav .nav-item {
    margin: 0 20px 0 20px;
} 

div [class=container-fluid] {
    background-color: red;

}

.bi-person-fill {
    color: #fff;
    font-size: 30px;
    margin: 13px 0 0 5px;
}

.btn-header {
    align-items: center;
}

a [class=navbar-brand] > div {
    margin: 25px 8px 0 0;
}