@font-face {
    font-family: "Yekan";
    src: url(../fonts/Yekan/Yekan.ttf);
}

* {
    text-align: right;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: 'Yekan';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.main-color {
    color: #0372ba;
}


.btn:hover {
    outline-color: #0372ba;
    background-color: #ffffff00;
}
.btn-phone {
    background-color: #0372ba;
    color: #fff;
}

.navbar-brand :nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.navbar-brand :nth-child(2) {
    font-size: 16px;
    color: #e1e1e1;
}

.navbar-brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-brand div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 11px;

}

.navbar-nav {
    justify-content: center;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.nav-item1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px 0 20px;
}

.nav-item1 > a{
    color: #fff;
    transition: all ease .3s;
} 

.nav-item1 > a:hover{
    border-bottom: 1px solid #fff ;
    color: #fff;
} 
.nav-item1 > a:active{
    color: #fff;
}

.bi-person-fill {
    color: #fff;
    font-size: 30px;
    margin: 13px 0 0 5px;
}

.btn-header {
    align-items: center;
}

a [class=navbar-brand] > div {
    margin: 25px 8px 0 0;
}

.dropdown-item {
    padding: 13px 20px;
    transition: all ease .3s;
}

.dropdown-item:hover {
    background: #f7f7f7;
    color: #0372ba;
}

.dropdown-togglee {
    padding: 13px 20px;
    transition: all ease .3s;
}

.dropdown-togglee:hover {
    background: #f7f7f7;
    color: #0372ba;
}

.navbar-brand div {
    padding: 22px 4px 0 0;
}

.btn-phone span {
    font-size: 18px;
}

header {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: none;
}

/* banner */

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.banner-text {
    position: relative;
    color: #fff;
    z-index: 2;
}

.banner-text h2 {
    font-size: 60px;
}
.banner-text h6 {
    font-size: 22px;
}

/* tour van */

.tour-van-item {
    position: relative;
    height: 458px;
    overflow: hidden;
    border-radius: 13px;
}


.tour-van {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 20px 20px;
}

.tour-van-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
    filter: brightness(80%);
}

.tour-van-img:hover { 
    position: absolute;
    width: 120%;
    height: 120%;
}

.tour-van-text {
    z-index: 2;
    position: relative;
    color: #fff;
}

.tour-van-text p:nth-child(1){
    font-size: 26px;
    font-weight: bold;
}

.tour-van-text p:nth-child(2){
    font-size: 18px;
}

.tour-van-text span {
    font-size: 14px;
    font-weight: bold;
}

.tour-van-text p {
    text-align: center;
}

.bi-arrow-left {
    font-size: 18px;
}

.btn-van { 
    padding: 13px 41px;
    background-color:#0372ba;
    color: #fff;
    border-radius: 5px;
}
.btn-van span{ 
    font-size: 16px;
}

.tour-van-item1 p:nth-child(1) {
    font-size: 46px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #0372ba;
    padding-bottom: 7px;
}

.tour-van-item1 p:nth-child(2) {
    margin-top: 5px;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.tour-van-item1 p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* hotel van */

.hotel-van-item {
    position: relative;
    height: 350px;
    overflow: hidden;
    border-radius: 13px;
}

.hotel-van-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
    filter: brightness(80%);
}
.hotel-van-item::before { 
    background: -webkit-linear-gradient(top, transparent 50%, rgba(15, 15, 15, 0.99) 100%);
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    content: "";
    transition: .4s;
}

.hotel-van-img:hover { 
    position: absolute;
    width: 120%;
    height: 120%;
}

.hotel-van-text {
    z-index: 2;
    position: relative;
    color: #fff;
}

.hotel-van-text {
    font-weight: bold;
}

.hotel-van-text p:nth-child(1){
    font-size: 22px;
}

.hotel-van-text p:nth-child(2){
    font-size: 18px;
}

.hotel-van-text span {
    font-size: 14px;
}

.hotel-van-text p {
    text-align: center;
}

.title h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 200px;
    background-color: #0372ba;
    margin-top: 20px;
    display: block;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.title h2 {
font-size: 33px;
font-weight: bold;
}

/* tours */

.tours-item {
    position: relative;
    height: 222px;
    overflow: hidden;
    border-radius: 13px 13px 0 0;
}

.tours-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
    filter: brightness(80%);
}
.tours-item::before { 
    background: -webkit-linear-gradient(top, transparent 50%, rgba(15, 15, 15, 0.99) 100%);
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    content: "";
    transition: .4s;
}

.tours-img:hover { 
    position: absolute;
    width: 120%;
    height: 120%;
}

.tours-text {
    z-index: 2;
    position: relative;
    color: #fff;
}

.tours-item > div {
}

.tours-des p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
}

.tours-des p:nth-child(2) span:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #0372ba;
}

.tours-des p:nth-child(2) span:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
}

.tours-des p:nth-child(3) span {
    font-size: 20px;
    font-weight: bold;
}

.tours-des {
    border: 1px solid rgba(210,210,210,.4588235294);
    border-radius: 0 0 13px 13px ;
    width: 100%;
}

.tours-itemm {
    transition: all ease .4s;
    border-radius: 13px;
}
.tours-itemm:hover {
    box-shadow: 4px 14px 28px rgb(0 0 0 / 10%);
}

.btn-tours {
    border: 1px solid #0372ba;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
    background-color: #0372ba;
}

.btn-tours:hover {
    border: 1px solid #0372ba;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
    background-color: #0372ba;
}

.btn-tours-outline {
    border: 1px solid #0372ba;
    color: #0372ba;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
}

.btn-tours-outline:hover {
    border: 1px solid #0372ba;
    color: #0372ba;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
}

/* about us */

.Attributes {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
}

.Attribute {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.about-text h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #212529;
}

.about-text p {
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #777;
    line-height: 28px;
    text-align: right;
    margin-bottom: 0;
    font-size: 14px;
}

.Attribute-text h6 {
    color: #212529;
    font-weight: bold;
    margin-bottom: 7px;
}

.Attribute-text p {
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #777;
    line-height: 28px;
    text-align: right;
    margin-bottom: 0;
    font-size: 14px;
}

.Attribute-icon {
    width: 12%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #0372ba;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.Attribute-icon svg {
    color: #0372ba;
    width: 20px;
}

.about-img {
    width: 100%;
    height: 500px;
    position: relative;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    border-radius: 14px;
    transition: all ease .4s;
    box-shadow: -4px -4px 16px rgba(139,62,234,.08), 4px 14px 28px rgba(139,148,250,.07);
    vertical-align: middle;
    border-style: none;
}

.about-img img:hover {
    transform: scale(0.95);
}

/* blog */

.blog-item {
    position: relative;
    height: 534px;
    overflow: hidden;
    border-radius: 13px;
}

.blog-item::before { 
    background: -webkit-linear-gradient(top, transparent 50%, rgba(15, 15, 15, 0.99) 100%);
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    content: "";
    transition: .4s;
}

.blog-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
    filter: brightness(80%);
}

.blog-img:hover { 
    position: absolute;
    width: 120%;
    height: 120%;
}

.btn-blog-item { 
    padding: 13px 41px;
    background-color:#0372ba;
    color: #fff;
    border-radius: 5px;
}
.btn-blog-item span{ 
    font-size: 16px;
}

.blog-text {
    z-index: 2;
    position: relative;
    color: #fff;
}

.blog-text {
    font-weight: bold;
    margin-bottom: 8px;
}

.blog-text p:nth-child(1){
    color: #fff;
    font-family: "yekanbakhBold";
    margin-bottom: 0;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.blog-text p:nth-child(2){
    -webkit-line-clamp: 3;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 0;

}