@font-face {
    font-family: "Yekan";
    src: url(../fonts/Yekan/Yekan.ttf);
}

* {
    text-align: right;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: 'Yekan';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.main-color {
    color: #0372ba;
}


.btn-phone {
    border: 2px solid #0372ba;
    border-radius: 5px;
    color: #fff;
    transition: all ease .4s;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    font-size: 18px;
    gap: 5px;
    overflow: hidden;
    background-color: #0372ba;
}

.btn-phone:hover {
    background: none;
    border-color: #0372ba;
}

.btn-phone span {
    margin-top: 5px;

}

.btn-header i {
    margin-left: 15px;
}

.navbar-brand :nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.navbar-brand :nth-child(2) {
    font-size: 16px;
    color: #e1e1e1;
}

.navbar-brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-brand div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 11px;

}

.navbar-nav {
    justify-content: center;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.nav-item1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px 0 20px;
    position: relative;
}

.nav-link:hover {
    color: #fff;
}

.nav-item1 > a{
    color: #fff;
    transition: all ease .3s;
} 


.nav-item1::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: .5s;
    position: absolute;
    left: 0;
    right: auto;
}

.nav-item1:hover::after {
    width: 100%;
    left: auto;
    right: 0;
}

.dropdown-menu {
    display: none;
    margin-top: 8px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu1 {
    display: none;
    list-style: none;
    position:absolute;
    right: 158px;
    background-color: #fff;
    top: 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 0 8px 0;
}

.dropdown-menu1 li {
    padding: 0;
}


.nav-item11:hover .dropdown-menu1 {
    display: block;
}

.bi-person-fill {
    color: #fff;
    font-size: 30px;
    margin: 13px 0 0 5px;
}

.btn-header {
    align-items: center;
}

a [class=navbar-brand] > div {
    margin: 25px 8px 0 0;
}

.dropdown-item {
    padding: 13px 20px;
    transition: all ease .3s;
}

.dropdown-item:hover {
    background: #f7f7f7;
    color: #0372ba;
}

.dropdown-togglee {
    padding: 13px 20px;
    transition: all ease .3s;
}

.dropdown-togglee:hover {
    background: #f7f7f7;
    color: #0372ba;
}

.navbar-brand div {
    padding: 22px 4px 0 0;
}

.btn-phone span {
    font-size: 18px;
}

header {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: none;
}


.scrolled {
    background-color: #0372ba;
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100%;
    transition: all ease .4s;
}

.scrolled .navbars {
    z-index: 201;
}

.scrolled img {
    filter: drop-shadow(2px 2px 5px #fff);
}

.scrolled .btn-phone {
    border-color: #fff;
}

.scrolled > .container > .navbar {
    padding: 0;
}

/* banner */

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.banner-text {
    position: relative;
    color: #fff;
    z-index: 2;
}

.banner-text h2 {
    font-size: 60px;
}
.banner-text h6 {
    font-size: 22px;
}

/* search box */

.search-box {
    position: relative;
    z-index: 100;
    margin-top: -210px;
}

.search-box-parent {
    box-shadow: 0 1px 13px 0 rgb(0 0 0 / 5%);
    border-radius: 15px;
    background-color: #fff;
}

.search-box-tour {
    border-radius: 6px;
    padding: 0.7rem 1.8rem;
    border: 1px solid #0372ba;
    color: #fff;
    font-size: 20px;
    background-color: #0372ba;
    cursor: pointer;
}

.search-box-visa {
    border-radius: 6px;
    padding: 0.7rem 1.8rem;
    border: 1px solid #0372ba;
    color: #0372ba;
    font-size: 20px;
    cursor: pointer;
}

.checkbox {
    border-radius: 20px;
    border: 1px solid #ccc ;
}

.dakheli {
    border-radius: 20px;
    color: #fff;
    background-color: #0372ba;
    padding: 3px 25px;
    cursor: pointer;
    margin: 2px 5px;
}

.khareji {
    border-radius: 20px;
    padding: 3px 25px;
    cursor: pointer;
    margin: 2px 5px;
}

.information {
    padding: 25px;
    border: none;
    background-color: #f5edfd;
    cursor: pointer;
}

.information:focus {
    border-color: #fff;
    box-shadow: none;
}

.dokmeh {
    padding: 13px 60px;
    background-color:#0372ba;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
/* tour van */

.tour-van-item {
    position: relative;
    height: 458px;
    overflow: hidden;
    border-radius: 13px;
    transition: all ease .4s;
}

.tour-van-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(3,114,186,.37);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;
    z-index: 2;
}

.tour-van-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.tour-van-item:hover .tour-van-img {
    transform: scale(1.2);
}



.tour-van-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
    filter: brightness(80%);
}

.tour-van-text {
    z-index: 5;
    position: relative;
    color: #fff;
}

.tour-van-text p:nth-child(1){
    font-size: 26px;
    font-weight: bold;
}

.tour-van-text p:nth-child(2){
    font-size: 18px;
}

.tour-van-text span {
    font-size: 14px;
    font-weight: bold;
}

.tour-van-text p {
    text-align: center;
}

.bi-arrow-left {
    font-size: 18px;
}

.btn-van { 
    padding: 13px 41px;
    background-color:#0372ba;
    color: #fff;
    border-radius: 5px;
    gap: 10px;
    transition: all ease .4s;
}

.btn-van:hover {
    background-color:#024069;
}

.btn-van span{ 
    font-size: 16px;
}

.btn-van svg {
    margin: 0;
}
.btn-van p {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin: 0;
}



.tour-van-item1 > p:nth-child(1) {
    font-size: 46px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #0372ba;
    padding-bottom: 7px;
}

.tour-van-item1 p:nth-child(2) {
    margin-top: 5px;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.tour-van-item1 p:nth-child(3) {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* hotel van */

.hotel-van2 {
    margin-top: 24px;
}

.hotel-van-item {
    position: relative;
    height: 350px;
    overflow: hidden;
    border-radius: 13px;
    transition: all ease .4s;
}

.hotel-van-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(3,114,186,.37);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;
    z-index: 2;
}

.hotel-van-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.hotel-van-item:hover .hotel-van-img {
    transform: scale(1.2);
}

.hotel-van-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
    filter: brightness(80%);
}
.hotel-van-item::before { 
    background: -webkit-linear-gradient(top, transparent 50%, rgba(15, 15, 15, 0.99) 100%);
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    content: "";
    transition: .4s;
}

.hotel-van-img:hover { 
    position: absolute;
    width: 120%;
    height: 120%;
}

.hotel-van-text {
    z-index: 5;
    position: relative;
    color: #fff;
}

.hotel-van-text {
    font-weight: bold;
}

.hotel-van-text p:nth-child(1){
    font-size: 22px;
}

.hotel-van-text p:nth-child(2){
    font-size: 18px;
}

.hotel-van-text span {
    font-size: 14px;
}

.hotel-van-text p {
    text-align: center;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.title h2 {
font-size: 33px;
font-weight: bold;
border-bottom: 1px solid #0372ba;
padding: 0 25px 20px 25px;
}

/* tours */

.tours-item {
    position: relative;
    height: 222px;
    overflow: hidden;
    border-radius: 13px 13px 0 0;
}

.tours-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
}
.tours-item::before { 
    background: -webkit-linear-gradient(top, transparent 50%, rgba(15, 15, 15, 0.99) 100%);
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    content: "";
    transition: .4s;
}

.tours-img:hover { 
    transform: scale(1.2);

}

.tours-itemm:hover .tours-img {
    transform: scale(1.2);
}
.tours-text {
    z-index: 2;
    position: relative;
    color: #fff;
}

.tours-item > div {
}

.tours-des p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
}

.tours-des p:nth-child(2) span:nth-child(1) {
    font-size: 13px;
    font-weight: bold;
    color: #0372ba;
}

.tours-des p:nth-child(2) span:nth-child(2) {
    font-size: 13px;
    font-weight: bold;
    color: #818090;
}

.tours-des p:nth-child(3) span {
    font-size: 17px;
    font-weight: bold;
}

.tours-des p:nth-child(3) {
    font-size: 14px;
}

.tours-des {
    border: 1px solid rgba(210,210,210,.4588235294);
    border-radius: 0 0 13px 13px ;
    width: 100%;
}

.tours-itemm {
    transition: all ease .4s;
    border-radius: 13px;
}
.tours-itemm:hover {
    box-shadow: 4px 14px 28px rgb(0 0 0 / 10%);
}

.btn-tours {
    border: 1px solid #0372ba;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
    background-color: #0372ba;
}

.btn-tours:hover {
    border: 1px solid #0372ba;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
    background-color: #0372ba;
}

.btn-tours-outline {
    border: 1px solid #0372ba;
    color: #0372ba;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
}

.btn-tours-outline:hover {
    border: 1px solid #0372ba;
    color: #0372ba;
    padding: 8px 30px;
    border-radius: 5px;
    transition: all ease .4s;
    font-size: 18px;
    font-weight: bold;
}

/* about us */

.Attributes {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.Attribute {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.about-text h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #212529;
}

.about-text p {
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #777;
    line-height: 25px;
    text-align: right;
    margin-bottom: 0;
    font-size: 13px;
}

.Attribute-text h5 {
    color: #212529;
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 15px;
}

.Attribute-text p {
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #777;
    line-height: 21px;
    text-align: right;
    margin-bottom: 0;
    font-size: 13px;
}

.Attribute-icon {
    width: 12%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #0372ba;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    padding: 5px;
}

.Attribute-icon svg {
    color: #0372ba;
    width: 20px;
}

.about-img {
    width: 100%;
    height: 500px;
    position: relative;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    border-radius: 14px;
    transition: all ease .4s;
    box-shadow: -4px -4px 16px rgba(139,62,234,.08), 4px 14px 28px rgba(139,148,250,.07);
    vertical-align: middle;
    border-style: none;
}

.about-img img:hover {
    transform: scale(0.95);
}

/* blog */

.blog-item {
    position: relative;
    height: 534px;
    overflow: hidden;
    border-radius: 13px;
    transition: all ease .4s;
}

.blog-item::before { 
    background: -webkit-linear-gradient(top, transparent 50%, rgba(15, 15, 15, 0.99) 100%);
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    content: "";
    transition: .4s;
}

.blog-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(3,114,186,.37);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;
    z-index: 2;
}

.blog-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.blog-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s;
    object-fit: cover;
    filter: brightness(80%);
}

.blog-item:hover .blog-img {
    transform: scale(1.2);
}

.btn-blog-item { 
    padding: 13px 41px;
    background-color:#0372ba;
    color: #fff;
    border-radius: 5px;
}
.btn-blog-item span{ 
    font-size: 16px;
}
.btn-blog-item:hover {
    padding: 13px 41px;
    background-color:#0372ba;
    color: #fff;
    border-radius: 5px;
}

.blog-text {
    z-index: 5;
    position: relative;
    color: #fff;
}

.blog-text {
    font-weight: bold;
    margin-bottom: 8px;
}

.blog-text > p:nth-child(1){
    color: #fff;
    margin-bottom: 9px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 24px;
}

.blog-text p:nth-child(2){
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 15px;

}

/* newsletter */

.newsletter {
    background-color: #f3f6fd;
    padding: 60px 0;
}

.newsletter-text {

}

.newsletter-text > h6 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #222;
}

.newsletter-text > p{
    font-size: 14px;
    text-align: right;
    color: #222;
    margin-bottom: 0;
}


.newsletter-boxes {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap: 10px;
    width: 100%;
}

.newsletter-boxes > div {
    position: relative;
}

.newsletter-boxes > div > svg {
    position: absolute;
    top: 25%;
    right: 20px;
    fill: #495057;
}

.newsletter-boxes > div > input {
    padding-right: 3rem;
    border-radius: 0.25rem;
    font-size: 17px;
    height: 55px;
    border: 2px dashed rgba(221,221,221,.4588235294);
    box-shadow: 0 1px 13px 0 rgb(0 0 0 / 5%);
    width: 100%;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.newsletter-boxes > div > input:focus-visible {
    border-color: #0372ba;
    outline: 0;
}

.newsletter-icon > svg {
    fill: #0372ba;
}

.btn-newsletter {
    background: #0372ba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 20px;
    color: #fff;
    border-radius: 0.25rem;
}

.btn-newsletter:hover {
    background-color: #024069;
    color: #fff;
}

/* footer */

footer {
    padding-top: 74px;
}

.nav-link-f:hover {
    color: #0372ba;
}

.title-footer {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid #0372ba;
    margin-bottom: 20px;
    padding-right: 10px;
    gap: 5px;
}

.contact P {
    color: #222;
    text-align: right;
    font-size: 15px;
    line-height: 26px;
}

.contact a {
    color: #0372ba;
    transition: all ease .4s;
    font-size: 19px;
    font-weight: bold;
}

.social {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 14px;
}

.social a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0372ba;
    padding: 2px;
    border-radius: 2px;
}

.social > a > svg {|
    width: 20px;
    transition: all ease .4s;

}

.social > a > img {
    fill: #0372ba;
    width: 16px;
    transition: all ease .4s;

}

.col2 .nav-item {
    margin: 8px 0;
}

.col3 .nav-item {
    margin: 8px 0;
}

.nav-link {
    color: #222;
}

.col4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.certificate {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.certificate-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand {
    background: #f3f6fd;
    padding: 10px 0;
}

.brand a {
    color: #434343;
}

.brand p {
    color: #727272;
    transition: all ease .3s;
    margin: 0 4px;
    font-size: 14px;
}